<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
  <head>
    <title>Notificação Processa Processo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>Caro Advogad@,</p>

    <p>Fazem pelo menos 2 minutos que você não checou o processo nº XXX.</p>
    <p>Que tal acessar a plataforma e verificar as atualizações mais recentes?</p>
    <p>
      Abraços,
      <br />
      <em>Time Processa Processo</em>
    </p>
  </body>
</html>
