<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
  <head>
    <title>Causas atualizadas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>Car@ Advogad@,</p>

    <p>As causas monitoradas acabaram de ser atualizadas a partir do PJe.</p>
    <p>Acesse o PP para verificar as informações mais recentes!</p>
    <p>
      Abraços,
      <br />
      <em>Time Processa Processo</em>
    </p>
  </body>
</html>
